/******************************************************************

Stylesheet: 1280px以上のモニタで適用

******************************************************************/

.travel {
 
  &__inner {
    padding: 50px 150px;
  }
}

.place {

  &__item {
    flex-basis: 23%; //２つの要素で折り返し
  }
}

.side {
  display: block;
  position: fixed;
  top: 70%;
  transform: translateY(-50%);
}